In [1]:
import numpy as np
import pandas as pd

In [2]:
# Numpy Arrarys
l1 = [12,34,56,43,21,78,90,54,32,6,78,9,10,1,29,83,18,15,99,47]

In [3]:
# Creating Arrays use - array()
arr1 = np.array(l1)

In [5]:
type(arr1)

numpy.ndarray

In [6]:
print(dir(l1))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__delslice__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getslice__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__setslice__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [7]:
print(dir(arr1))

['T', '__abs__', '__add__', '__and__', '__array__', '__array_finalize__', '__array_interface__', '__array_prepare__', '__array_priority__', '__array_struct__', '__array_wrap__', '__class__', '__contains__', '__copy__', '__deepcopy__', '__delattr__', '__delitem__', '__delslice__', '__div__', '__divmod__', '__doc__', '__eq__', '__float__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getslice__', '__gt__', '__hash__', '__hex__', '__iadd__', '__iand__', '__idiv__', '__ifloordiv__', '__ilshift__', '__imod__', '__imul__', '__index__', '__init__', '__int__', '__invert__', '__ior__', '__ipow__', '__irshift__', '__isub__', '__iter__', '__itruediv__', '__ixor__', '__le__', '__len__', '__long__', '__lshift__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__nonzero__', '__oct__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdiv__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rlshift__', '__rmod__', '__rmul__', '__ror__', '__rpow__', '__rrshift__', '__rshift__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__setitem__', '__setslice__', '__setstate__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__xor__', 'all', 'any', 'argmax', 'argmin', 'argpartition', 'argsort', 'astype', 'base', 'byteswap', 'choose', 'clip', 'compress', 'conj', 'conjugate', 'copy', 'ctypes', 'cumprod', 'cumsum', 'data', 'diagonal', 'dot', 'dtype', 'dump', 'dumps', 'fill', 'flags', 'flat', 'flatten', 'getfield', 'imag', 'item', 'itemset', 'itemsize', 'max', 'mean', 'min', 'nbytes', 'ndim', 'newbyteorder', 'nonzero', 'partition', 'prod', 'ptp', 'put', 'ravel', 'real', 'repeat', 'reshape', 'resize', 'round', 'searchsorted', 'setfield', 'setflags', 'shape', 'size', 'sort', 'squeeze', 'std', 'strides', 'sum', 'swapaxes', 'take', 'tobytes', 'tofile', 'tolist', 'tostring', 'trace', 'transpose', 'var', 'view']

In [9]:
arr1[2] # third element

56

# Pandas Series
Base                                   pandas
------                               -----------
str                                  Object or 'o'
float                                float64
long
                                     int64
int
bool                                 bool
---                                  datetime64

In [11]:
#Series is 1d homogenous DS
# pd.Series(list/tuple/dict/ndarray)
ser1 = pd.Series(l1)

In [12]:
type(ser1)

pandas.core.series.Series

In [13]:
ser1

0     12
1     34
2     56
3     43
4     21
5     78
6     90
7     54
8     32
9      6
10    78
11     9
12    10
13     1
14    29
15    83
16    18
17    15
18    99
19    47
dtype: int64

In [15]:
l2 = [90.67,54,32,6,78,9,10,1,29,83,18,15,99,47]

In [16]:
ser2 = pd.Series(l2)

In [17]:
ser2

0     90.67
1     54.00
2     32.00
3      6.00
4     78.00
5      9.00
6     10.00
7      1.00
8     29.00
9     83.00
10    18.00
11    15.00
12    99.00
13    47.00
dtype: float64

In [18]:
l3 = [90.67,54,32,6,78,9,10,1,29,83,18,15,99,47,"A"]
ser3 = pd.Series(l3)
ser3

0     90.67
1        54
2        32
3         6
4        78
5         9
6        10
7         1
8        29
9        83
10       18
11       15
12       99
13       47
14        A
dtype: object

In [23]:
# Accessing elements from series

# Indexes and Names
# Default indexes (0 to n-1) and user defined indexes
# iloc                           loc
ser1
# By default,
# loc = iloc

0     12
1     34
2     56
3     43
4     21
5     78
6     90
7     54
8     32
9      6
10    78
11     9
12    10
13     1
14    29
15    83
16    18
17    15
18    99
19    47
dtype: int64

In [21]:
# Users can give their own indexes
# When users give their indexes, loc comes into existance
# But the original iloc remains unchanged!

ser4 = pd.Series(l1, index=["a","b","c","d","e","f","g","h","i","j","k","l","m","n","o","p","q","r","s","t"])

In [22]:
ser4
# loc = a,b,c,d....t
# iloc = 0 to 19

a    12
b    34
c    56
d    43
e    21
f    78
g    90
h    54
i    32
j     6
k    78
l     9
m    10
n     1
o    29
p    83
q    18
r    15
s    99
t    47
dtype: int64

ser1[] # won't do this
 
ser1.loc[]
ser1.iloc[]

In [24]:
ser4.iloc[4] # 4th index element/fifth element

21

In [25]:
ser4.loc['e']

21

In [26]:
ser4.iloc[4:9] # 4,5,6,7,8 indexed elements

e    21
f    78
g    90
h    54
i    32
dtype: int64

for i in range(0,len(l1)):
    if l1[i]

for i in range(0,len(l1)):
    if ser4.iloc[i]

In [27]:
# Applying Conditions

# ser1 get all elements > 30
ser1 > 30

0     False
1      True
2      True
3      True
4     False
5      True
6      True
7      True
8      True
9     False
10     True
11    False
12    False
13    False
14    False
15     True
16    False
17    False
18     True
19     True
dtype: bool

In [28]:
ser1.loc[(ser1 > 30)]

1     34
2     56
3     43
5     78
6     90
7     54
8     32
10    78
15    83
18    99
19    47
dtype: int64

# Get all elements > 30 and < 50
ser1.loc[ser1 > 30 and ser1 < 50] # incorrect
# 1. all cond in ()
# 2. and, or, not - they no longer exist!!
# 3. Use &,|,~/- instead!

In [34]:
ser4.loc[(ser4 > 30) & (ser4 < 50)]

b    34
d    43
i    32
t    47
dtype: int64

In [35]:
print(dir(ser1))

# Most of them are stats functions - univariate stats function
# min, max, mean, median, std, var, skew, kurtosis, cumsum, cumprod

# Some of them are used for manipulations
# loc, iloc, _reindex??
# filtering functions filter()
# removing duplicates, missings, non-numeric values
# dropduplicate, dropna, dropnull, dropnan

# to export the series
# to_csv()
# 'to_clipboard', 'to_csv', 'to_dense', 'to_dict', 'to_excel', 
# 'to_frame', 'to_hdf', 'to_json', 'to_latex', 'to_msgpack', 'to_period', 
# 'to_pickle', 'to_sparse', 'to_sql', 'to_string', 'to_timestamp', 'to_xarray', 'tolist'

['T', '_AXIS_ALIASES', '_AXIS_IALIASES', '_AXIS_LEN', '_AXIS_NAMES', '_AXIS_NUMBERS', '_AXIS_ORDERS', '_AXIS_REVERSED', '_AXIS_SLICEMAP', '__abs__', '__add__', '__and__', '__array__', '__array_prepare__', '__array_priority__', '__array_wrap__', '__bool__', '__bytes__', '__class__', '__contains__', '__copy__', '__deepcopy__', '__delattr__', '__delitem__', '__dict__', '__dir__', '__div__', '__divmod__', '__doc__', '__eq__', '__finalize__', '__float__', '__floordiv__', '__format__', '__ge__', '__getattr__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__iand__', '__idiv__', '__ifloordiv__', '__imod__', '__imul__', '__init__', '__int__', '__invert__', '__ior__', '__ipow__', '__isub__', '__iter__', '__itruediv__', '__ixor__', '__le__', '__len__', '__long__', '__lt__', '__mod__', '__module__', '__mul__', '__ne__', '__neg__', '__new__', '__nonzero__', '__or__', '__pow__', '__radd__', '__rand__', '__rdiv__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__setitem__', '__setstate__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__unicode__', '__weakref__', '__xor__', '_accessors', '_add_numeric_operations', '_add_series_only_operations', '_add_series_or_dataframe_operations', '_agg_by_level', '_agg_doc', '_aggregate', '_aggregate_multiple_funcs', '_align_frame', '_align_series', '_allow_index_ops', '_at', '_binop', '_box_item_values', '_builtin_table', '_can_hold_na', '_check_inplace_setting', '_check_is_chained_assignment_possible', '_check_percentile', '_check_setitem_copy', '_clear_item_cache', '_clip_with_one_bound', '_clip_with_scalar', '_consolidate', '_consolidate_inplace', '_construct_axes_dict', '_construct_axes_dict_for_slice', '_construct_axes_dict_from', '_construct_axes_from_arguments', '_constructor', '_constructor_expanddim', '_constructor_sliced', '_convert', '_create_indexer', '_cython_table', '_deprecations', '_dir_additions', '_dir_deletions', '_drop_axis', '_expand_axes', '_formatting_values', '_from_axes', '_get_axis', '_get_axis_name', '_get_axis_number', '_get_axis_resolvers', '_get_block_manager_axis', '_get_bool_data', '_get_cacher', '_get_index_resolvers', '_get_item_cache', '_get_numeric_data', '_get_value', '_get_values', '_get_values_tuple', '_get_with', '_gotitem', '_iat', '_iget_item_cache', '_iloc', '_index', '_indexed_same', '_info_axis', '_info_axis_name', '_info_axis_number', '_init_mgr', '_internal_names', '_internal_names_set', '_is_builtin_func', '_is_cached', '_is_cython_func', '_is_datelike_mixed_type', '_is_mixed_type', '_is_numeric_mixed_type', '_is_view', '_ix', '_ixs', '_loc', '_maybe_cache_changed', '_maybe_update_cacher', '_metadata', '_needs_reindex_multi', '_obj_with_exclusions', '_protect_consolidate', '_reduce', '_reindex_axes', '_reindex_axis', '_reindex_indexer', '_reindex_multi', '_reindex_with_indexers', '_repr_data_resource_', '_repr_latex_', '_reset_cache', '_reset_cacher', '_selected_obj', '_selection', '_selection_list', '_selection_name', '_set_as_cached', '_set_axis', '_set_axis_name', '_set_is_copy', '_set_item', '_set_labels', '_set_name', '_set_subtyp', '_set_value', '_set_values', '_set_with', '_set_with_engine', '_setup_axes', '_shallow_copy', '_slice', '_stat_axis', '_stat_axis_name', '_stat_axis_number', '_take', '_to_dict_of_blocks', '_try_aggregate_string_function', '_typ', '_unpickle_series_compat', '_update_inplace', '_validate_dtype', '_values', '_where', '_xs', 'abs', 'add', 'add_prefix', 'add_suffix', 'agg', 'aggregate', 'align', 'all', 'any', 'append', 'apply', 'argmax', 'argmin', 'argsort', 'as_matrix', 'asfreq', 'asobject', 'asof', 'astype', 'at', 'at_time', 'autocorr', 'axes', 'base', 'between', 'between_time', 'bfill', 'bool', 'clip', 'clip_lower', 'clip_upper', 'combine', 'combine_first', 'compound', 'compress', 'copy', 'corr', 'count', 'cov', 'cummax', 'cummin', 'cumprod', 'cumsum', 'data', 'describe', 'diff', 'div', 'divide', 'dot', 'drop', 'drop_duplicates', 'dropna', 'dtype', 'dtypes', 'duplicated', 'empty', 'eq', 'equals', 'ewm', 'expanding', 'factorize', 'ffill', 'fillna', 'filter', 'first', 'first_valid_index', 'flags', 'floordiv', 'from_array', 'ftype', 'ftypes', 'ge', 'get', 'get_dtype_counts', 'get_ftype_counts', 'get_values', 'groupby', 'gt', 'hasnans', 'head', 'hist', 'iat', 'idxmax', 'idxmin', 'iloc', 'imag', 'index', 'infer_objects', 'interpolate', 'is_copy', 'is_monotonic', 'is_monotonic_decreasing', 'is_monotonic_increasing', 'is_unique', 'isin', 'isna', 'isnull', 'item', 'items', 'itemsize', 'iteritems', 'ix', 'keys', 'kurt', 'kurtosis', 'last', 'last_valid_index', 'le', 'loc', 'lt', 'mad', 'map', 'mask', 'max', 'mean', 'median', 'memory_usage', 'min', 'mod', 'mode', 'mul', 'multiply', 'name', 'nbytes', 'ndim', 'ne', 'nlargest', 'nonzero', 'notna', 'notnull', 'nsmallest', 'nunique', 'pct_change', 'pipe', 'plot', 'pop', 'pow', 'prod', 'product', 'ptp', 'put', 'quantile', 'radd', 'rank', 'ravel', 'rdiv', 'real', 'reindex', 'reindex_axis', 'reindex_like', 'rename', 'rename_axis', 'reorder_levels', 'repeat', 'replace', 'resample', 'reset_index', 'rfloordiv', 'rmod', 'rmul', 'rolling', 'round', 'rpow', 'rsub', 'rtruediv', 'sample', 'searchsorted', 'select', 'sem', 'set_axis', 'shape', 'shift', 'size', 'skew', 'slice_shift', 'sort_index', 'sort_values', 'squeeze', 'std', 'strides', 'sub', 'subtract', 'sum', 'swapaxes', 'swaplevel', 'tail', 'take', 'to_clipboard', 'to_csv', 'to_dense', 'to_dict', 'to_excel', 'to_frame', 'to_hdf', 'to_json', 'to_latex', 'to_msgpack', 'to_period', 'to_pickle', 'to_sparse', 'to_sql', 'to_string', 'to_timestamp', 'to_xarray', 'tolist', 'transform', 'transpose', 'truediv', 'truncate', 'tshift', 'tz_convert', 'tz_localize', 'unique', 'unstack', 'update', 'valid', 'value_counts', 'values', 'var', 'view', 'where', 'xs']

In [37]:
ser1.mean()

40.75

In [38]:
ser1.sum()

815

In [39]:
ser1.count()

20

In [49]:
desc = ser1.describe()
desc

count    20.00000
mean     40.75000
std      30.97516
min       1.00000
25%      14.25000
50%      33.00000
75%      61.50000
max      99.00000
dtype: float64

In [50]:
desc.iloc[2]

30.975159827122596

In [51]:
desc.loc["std"]

30.975159827122596

In [43]:
ser1[(ser1 > 30)]

1     34
2     56
3     43
5     78
6     90
7     54
8     32
10    78
15    83
18    99
19    47
dtype: int64

In [52]:
#1,2,3,5,6,7,8,10,15,18,19
#0,1,2,3,4,......10

In [53]:
ser1.dtype

dtype('int64')

In [55]:
# Some of the attributes are simple values and they need to be functions
ser4.index

Index([u'a', u'b', u'c', u'd', u'e', u'f', u'g', u'h', u'i', u'j', u'k', u'l',
       u'm', u'n', u'o', u'p', u'q', u'r', u's', u't'],
      dtype='object')

# ---

In [57]:
# DataFrames
# Similar to regular tables
# It's a combination of multiple series

# Create a dataframe using a Dict

dict1 = {
    "EID":[1,2,3,4,5,6],
    "EName":["A","X","R","W","I","T"],
    "ESal":[1200,4500,2300,6700,1200,4000]
}

In [58]:
dict1

{'EID': [1, 2, 3, 4, 5, 6],
 'EName': ['A', 'X', 'R', 'W', 'I', 'T'],
 'ESal': [1200, 4500, 2300, 6700, 1200, 4000]}

In [59]:
EmpData = pd.DataFrame(dict1)

In [60]:
EmpData

   EID EName  ESal
0    1     A  1200
1    2     X  4500
2    3     R  2300
3    4     W  6700
4    5     I  1200
5    6     T  4000

In [62]:
import os # os has all the Op System related functions

In [63]:
# Home folder
# User folder - Home

# We can set any flder as a temp working dir
os.getcwd()

'C:\\Users\\admin'

os.setwd("...")
# Always use \\ or /

Pandas read functions
pd.read_xxxxx()
-> Type of file
CSV
SAS
SQL
JSON

In [64]:
# CSV/Text
# Text - any delimited file
stores = pd.read_table("C:\\Users\\admin\\pandas\\DataSets\\stores.csv",
              sep = ",")

In [65]:
type(stores)

pandas.core.frame.DataFrame

In [68]:
# Excel
AutoBI = pd.read_excel("C:/Users/admin/pandas/DataSets/AutoInsurance.xlsx")
# by default, first sheet is read

In [78]:
AutoClaims = pd.read_excel("C:/Users/admin/pandas/DataSets/AutoInsurance.xlsx",
              sheet_name = "AutoClaims")

In [79]:
type(stores)

pandas.core.frame.DataFrame

In [80]:
type(AutoClaims)

pandas.core.frame.DataFrame

In [81]:
pd.read_csv("C:/Users/admin/Documents/DataSets/Pokemon.csv")

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Stage,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,2,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,3,False
3,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
4,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,2,False
5,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,3,False
6,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False
7,8,Wartortle,Water,NaN,405,59,63,80,65,80,58,2,False
8,9,Blastoise,Water,NaN,530,79,83,100,85,105,78,3,False
9,10,Caterpie,Bug,NaN,195,45,30,35,20,20,45,1,False
10,11,Metapod,Bug,NaN,205,50,20,55,25,25,30,2,False
11,12,Butterfree,Bug,Flying,395,60,45,50,90,80,70,3,False
12,13,Weedle,Bug,Poison,195,40,35,30,20,20,50,1,False
13,14,Kakuna,Bug,Poison,205,45,25,50,25,25,35,2,False
14,15,Beedrill,Bug,Poison,395,65,90,40,45,80,75,3,False
15,16,Pidgey,Normal,Flying,251,40,45,40,35,35,56,1,False
16,17,Pidgeotto,Normal,Flying,349,63,60,55,50,50,71,2,False
17,18,Pidgeot,Normal,Flying,479,83,80,75,70,70,101,3,False
18,19,Rattata,Normal,NaN,253,30,56,35,25,35,72,1,False
19,20,Raticate,Normal,NaN,413,55,81,60,50,70,97,2,False
20,21,Spearow,Normal,Flying,262,40,60,30,31,31,70,1,False
21,22,Fearow,Normal,Flying,442,65,90,65,61,61,100,2,False
22,23,Ekans,Poison,NaN,288,35,60,44,40,54,55,1,False
23,24,Arbok,Poison,NaN,438,60,85,69,65,79,80,2,False
24,25,Pikachu,Electric,NaN,320,35,55,40,50,50,90,1,False
25,26,Raichu,Electric,NaN,485,60,90,55,90,80,110,2,False
26,27,Sandshrew,Ground,NaN,300,50,75,85,20,30,40,1,False
27,28,Sandslash,Ground,NaN,450,75,100,110,45,55,65,2,False
28,29,Nidoran���,Poison,NaN,275,55,47,52,40,40,41,1,False
29,30,Nidorina,Poison,NaN,365,70,62,67,55,55,56,2,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
121,122,Mr. Mime,Psychic,Fairy,460,40,45,65,100,120,90,1,False
122,123,Scyther,Bug,Flying,500,70,110,80,55,80,105,1,False
123,124,Jynx,Ice,Psychic,455,65,50,35,115,95,95,1,False
124,125,Electabuzz,Electric,NaN,490,65,83,57,95,85,105,1,False
125,126,Magmar,Fire,NaN,495,65,95,57,100,85,93,1,False
126,127,Pinsir,Bug,NaN,500,65,125,100,55,70,85,1,False
127,128,Tauros,Normal,NaN,490,75,100,95,40,70,110,1,False
128,129,Magikarp,Water,NaN,200,20,10,55,15,20,80,1,False
129,130,Gyarados,Water,Flying,540,95,125,79,60,100,81,2,False
130,131,Lapras,Water,Ice,535,130,85,80,85,95,60,1,False
131,132,Ditto,Normal,NaN,288,48,48,48,48,48,48,1,False
132,133,Eevee,Normal,NaN,325,55,55,50,45,65,55,1,False
133,134,Vaporeon,Water,NaN,525,130,65,60,110,95,65,2,False
134,135,Jolteon,Electric,NaN,525,65,65,60,110,95,130,2,False
135,136,Flareon,Fire,NaN,525,65,130,60,95,110,65,2,False
136,137,Porygon,Normal,NaN,395,65,60,70,85,75,40,1,False
137,138,Omanyte,Rock,Water,355,35,40,100,90,55,35,1,False
138,139,Omastar,Rock,Water,495,70,60,125,115,70,55,2,False
139,140,Kabuto,Rock,Water,355,30,80,90,55,45,55,1,False
140,141,Kabutops,Rock,Water,495,60,115,105,65,70,80,2,False
141,142,Aerodactyl,Rock,Flying,515,80,105,65,60,75,130,1,False
142,143,Snorlax,Normal,NaN,540,160,110,65,65,110,30,1,False
143,144,Articuno,Ice,Flying,580,90,85,100,95,125,85,1,True
144,145,Zapdos,Electric,Flying,580,90,90,85,125,90,100,1,True
145,146,Moltres,Fire,Flying,580,90,100,90,125,85,90,1,True
146,147,Dratini,Dragon,NaN,300,41,64,45,50,50,50,1,False
147,148,Dragonair,Dragon,NaN,420,61,84,65,70,70,70,2,False
148,149,Dragonite,Dragon,Flying,600,91,134,95,100,100,80,3,False
149,150,Mewtwo,Psychic,NaN,680,106,110,90,154,90,130,1,True
150,151,Mew,Psychic,NaN,600,100,100,100,100,100,100,1,False

In [83]:
Credit = pd.read_sas("C:/Users/admin/Documents/DataSets/CredidCardUsage.sas7bdat")
Credit

        id custid       date   Category  Expense
0      6.0   A006 2012-01-04     casino   3635.0
1     56.0   A006 2012-01-20  cellphone  16784.0
2    232.0   A006 2012-03-23  medicines    277.0
3    302.0   A006 2012-04-13       club   2148.0
4    383.0   A006 2012-05-09    tablets  13266.0
5    492.0   A006 2012-06-20  medicines    872.0
6    545.0   A006 2012-07-05    laptops  78056.0
7    702.0   A006 2012-08-31    clothes    467.0
8    867.0   A006 2012-11-08    laptops  36473.0
9    915.0   A006 2012-11-24       food    896.0
10   188.0   A027 2012-03-06    laptops  80703.0
11   242.0   A027 2012-03-25    tablets  15406.0
12   358.0   A027 2012-04-29  cellphone  28479.0
13   373.0   A027 2012-05-04     casino   5442.0
14   664.0   A027 2012-08-18  medicines    639.0
15   679.0   A027 2012-08-23  cellphone  21645.0
16   778.0   A027 2012-10-01     casino   3521.0
17   811.0   A027 2012-10-16       toys    470.0
18   916.0   A027 2012-11-24      movie    147.0
19   940.0   A027 2012-12-02  medicines    963.0
20   119.0   A050 2012-02-13     casino   6493.0
21   311.0   A050 2012-04-15     casino   5136.0
22   312.0   A050 2012-04-15      books   3780.0
23   391.0   A050 2012-05-12    tablets  11589.0
24   528.0   A050 2012-07-01  cellphone   8915.0
25   572.0   A050 2012-07-12     casino   2066.0
26   689.0   A050 2012-08-27    tablets  16943.0
27   749.0   A050 2012-09-21    laptops  56243.0
28   910.0   A050 2012-11-22       club   1436.0
29   937.0   A050 2012-12-01    tablets  14054.0
..     ...    ...        ...        ...      ...
970   45.0   C901 2012-01-18    laptops  99338.0
971  105.0   C901 2012-02-07    laptops  46395.0
972  148.0   C901 2012-02-23  medicines     83.0
973  170.0   C901 2012-03-01      books   3347.0
974  222.0   C901 2012-03-21    laptops  49182.0
975  259.0   C901 2012-04-01       food    573.0
976  296.0   C901 2012-04-11  medicines    888.0
977  684.0   C901 2012-08-25    clothes   2627.0
978  748.0   C901 2012-09-21       club   2167.0
979  970.0   C901 2012-12-14       club   2877.0
980  144.0   C993 2012-02-21       club    691.0
981  263.0   C993 2012-04-01       club    983.0
982  323.0   C993 2012-04-18       toys    590.0
983  324.0   C993 2012-04-18    tablets  13520.0
984  395.0   C993 2012-05-12  medicines    614.0
985  567.0   C993 2012-07-10       club   2293.0
986  711.0   C993 2012-09-05    clothes   3675.0
987  795.0   C993 2012-10-08       food    343.0
988  927.0   C993 2012-11-28       club   1241.0
989  928.0   C993 2012-11-28    tablets  15469.0
990    2.0   C999 2012-01-02       toys    762.0
991  228.0   C999 2012-03-22       club   2503.0
992  241.0   C999 2012-03-25      books   1491.0
993  338.0   C999 2012-04-24  medicines     27.0
994  379.0   C999 2012-05-07     casino   2596.0
995  393.0   C999 2012-05-12       toys    636.0
996  510.0   C999 2012-06-25       club   3286.0
997  617.0   C999 2012-07-28  cellphone  17963.0
998  718.0   C999 2012-09-07  cellphone  24481.0
999  746.0   C999 2012-09-20    clothes   2928.0

[1000 rows x 5 columns]

In [ ]:
# SAS
# DBMS